@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik+Moonrocks&family=Rubik:wght@300;400&display=swap");

body {
  background-color: #8bcac0;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 5em;
}
h2 {
  text-transform: uppercase;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1.5em;
}
.button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

/* -------------------------------------------------------
                     SECTIONS
-------------------------------------------------------- */
.authorization,
.search,
.countdown-control,
.countdown-display,
.spotify-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authorization::before,
.search::before,
.countdown-control::before,
.countdown-display::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.authorization {
  background-image: url("https://musicradiocreative.com/cdn/shop/products/countdown-by-rachael-334843_700x700.jpg?v=1678512150");
}
.search,
.countdown-control {
  background-image: url("https://musicradiocreative.com/cdn/shop/products/countdown-by-mike-830029_700x700.jpg?v=1678512151");
}
.countdown-display {
  padding-top: 20px;
  background-image: url("https://musicradiocreative.com/cdn/shop/products/countdown-by-izzy-331927_700x700.jpg?v=1678512151");
}
.spotify-player {
  background-image: url("https://musicradiocreative.com/cdn/shop/products/countdown-by-robin-998599.jpg?v=1678512151");
}
.center-content {
  text-align: center;
}

/* -------------------------------------------------------
                     SPOTIFY AUTH
-------------------------------------------------------- */
.button.button-login {
  background-color: #fbc208;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1.2em;
}
.button.button-login:hover {
  background-color: #fdde48;
}

/* -------------------------------------------------------
                     SPOTIFY SEARCH
-------------------------------------------------------- */
.search-input {
  font-family: "Rubik", sans-serif;
  font-size: 3em;
  text-align: center;
  width: 550px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 3px solid #54aaa4;
  background-color: #010612;
  color: #fff;
  transition: font-size 0.2s ease;
}
.search-input::placeholder {
  color: #fff;
  font-family: "Rubik Moonrocks", cursive;
}
.search-input.clicked {
  font-size: 2em; /* Change font size when button is clicked */
}
@media screen and (max-width: 600px) {
  .search-input {
    width: 350px;
    font-size: 1.8em;
  }
}

/****** BUTTON ******/
.button-search {
  font-family: "Rubik Moonrocks", cursive;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #fff;
  background-color: #54aaa4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;
  transition: font-size 0.2s ease-out;
}
.button-search:hover {
  background-color: #507675;
  font-size: 1.5em;
}
.button-search.clicked {
  font-size: 1em;
}
@media screen and (max-width: 600px) {
  .button-search {
    font-size: 1em;
  }
  .button-search.clicked {
    font-size: 0.8em;
  }
}

/****** SCROLL LIST ******/
.search ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  max-height: 400px; /* Set a maximum height for the list */
  overflow-y: auto; /* Add vertical scrolling when content exceeds height */
  border: 1px solid transparent;
}
/* Only show border if there are list items */
.search ul:has(li) {
  border-color: #54aaa4;
  background-color: rgba(0, 0, 0, 0.7);
}
.search ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.search ul li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.search ul li span {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
/* Style the custom scrollbar */
.search ul::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.search ul::-webkit-scrollbar-track {
  background: #507675; /* Track color */
}

.search ul::-webkit-scrollbar-thumb {
  background: #6b444c; /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.search ul::-webkit-scrollbar-thumb:hover {
  background: #be866e; /* Thumb color on hover */
}

.countdown-inputs {
  display: flex;
  gap: 10px; /* Add gap between the input containers */
}

/* -------------------------------------------------------
                     SELECTED SONG
-------------------------------------------------------- */
.selected-song-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  color: #fff;
  z-index: 100;
}
.selected-song-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.selected-song-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}
.selected-song-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.selected-song-details img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
.song-title {
  font-size: 24px;
}
.button.selected-song {
  font-family: "Rubik Moonrocks", cursive;
  background-color: #54aaa4;
  font-size: 1.2em;
  align-self: flex-end;
}
.button.selected-song:hover {
  background-color: #507675;
}
@media screen and (max-width: 768px) {
  .button.selected-song {
    padding-top: 10px;
    border-radius: 0;
    width: 100%;
  }
  .song-title {
    font-size: 1.5em;
  }
  .selected-song-details img {
    height: 70px;
    width: 70px;
    margin-right: 10px;
  }
}

/* -------------------------------------------------------
                     COUNTDOWN INPUTS
-------------------------------------------------------- */
.countdown-control input {
  height: 300px;
  width: 250px;
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: "Rubik Mono One", sans-serif;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 3px #54aaa4;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .countdown-control input {
    height: 200px;
    width: 150px;
    font-size: 1.8em;
  }
}
@media screen and (max-width: 480px) {
  .countdown-control input {
    height: 120px;
    width: 100px;
    font-size: 1.2em;
  }
}

.countdown-control input::placeholder {
  color: #fff; /* Change this to the desired color */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button.button-start {
  font-family: "Rubik Mono One", sans-serif;
  background-color: #fbc208;
}
.button.button-start:hover {
  background-color: #fdde48;
}

/* -------------------------------------------------------
                     COUNTDOWN
-------------------------------------------------------- */
.countdown-time {
  display: flex;
  gap: 10px;
  margin: 30px 0px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-size: 3em;
}
@media screen and (max-width: 768px) {
  .time {
    height: 200px;
    width: 150px;
    font-size: 1.8em;
  }
}
@media screen and (max-width: 480px) {
  .time {
    height: 120px;
    width: 100px;
    font-size: 1.2em;
  }
}
.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.button.button-control {
  background-color: #54aaa4;
}
.button.button-control:hover {
  background-color: #507675;
}

/* -------------------------------------------------------
                     SPOTIFY PLAYER
-------------------------------------------------------- */
.player {
  background-color: #0a0a0ad4;
  padding: 15px;
  border-radius: 4px;
}

/* -------------------------------------------------------
                     FOOTER
-------------------------------------------------------- */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 5%;
}
.copyright {
  color: #fff;
  padding: 5px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}
.copyright a {
  color: #fff;
}
